.App {

}

aside {
  background-color: grey;
  width: 200px;
  height: 700px;
  border: 2px solid black;
  float: left;
}

main {
  float: left;
  padding-left: 50px;
}

header {
  border: 5px solid black;
}

#roomName {
text-align: center;

}
